
input[type=text]{
  width:100%;
  border:2px solid #aaa;
  border-radius:4px;
  margin:0 auto;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
  width: 50%;
  display: block;
  text-align:center;
}

input[type=text]:focus{
  border-color:dodgerBlue;
  box-shadow:0 0 8px 0 dodgerBlue;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* unvisited link */
a:link {
  color: yellow;
}

/* visited link */
a:visited {
  color: green;
}
